body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    color: blue;
}

div {
    background: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px gray;
}

button {
    background: blue;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
}

input {
    padding: 8px;
    width: 250px;
}